:root {
  --colour1: #2f80ed ;
  --colour2: #2c3e50;
  --speed: 4s;
}

html,
body {
  height: 100%;
}

@-webkit-keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}
.warning {
  height: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.warning .bar {
  min-height: 100px;
  border-radius: 10px;
  width: calc(113px * 4);
  box-shadow: 0px 10px 13px -6px #2c3e50;
  background-color: var(--colour2);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    var(--colour1) 40px,
    var(--colour1) 80px
  );
  -webkit-animation: slide var(--speed) linear infinite;
  animation: slide var(--speed) linear infinite;
  will-change: background-position;
}
@media only screen and (max-width: 450px) {
  .warning .bar {
    width: calc(113px * 3);
  }
}
@media only screen and (max-width: 350px) {
  .warning .bar {
    width: calc(113px * 2);
  }
}
