#tabla_convocatorias_Abiertas {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#tabla_convocatorias_Abiertas td,
#tabla_convocatorias_Abiertas th {
  border: 1px solid #ddd;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#tabla_convocatorias_Abiertas tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabla_convocatorias_Abiertas tr:hover {
  background-color: #ddd;
  text-align: center;
}

#tabla_convocatorias_Abiertas {
  text-align: center;
}

#tabla_convocatorias_Abiertas th:hover {
  margin-left: auto;
  margin-right: auto;
}

#tabla_convocatorias_Abiertas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f80ed;
  color: white;
}


